.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: rgb(213, 27, 27);
}
#profile {
  color:red;
}
#logoutButton {
  color:white;
  background-color: #333;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 5px;
}
.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline;
  margin-left: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.logo-and-title {
  display: flex; /* Use Flexbox */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Optional: adds some space between the logo and the title */
}

/* Adjust .home-link to prevent it from taking up more space than needed */
.home-link {
  display: flex; /* This makes the link itself also use Flexbox, aligning its children */
  align-items: center;
  text-decoration: none;
  color: inherit;
}

/* .header-logo styles remain unchanged */
.header-logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}