.comments-section {
    margin-top: 60px;
}

.comment {
    margin-bottom: 10px;
    color: #000;
}

.comment-username {
    font-weight: bold;
    margin-right: 5px;
    color: #000;
}

.comment-form {
    display: flex;
    margin-top: 60px;
}

.comment-input {
    flex-grow: 1;
    margin-right: 40px;
    color: #000;
}