/* Style for the list item representing a user post */
.user-post {
    background-color: #fff; 
    border: 2px solid #000; 
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    list-style: none; 
  }
  
  /* Style for the user info section */
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* Style for the user avatar image */
  .user-avatar {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 15px;
  }
  
  /* Style for the username */
  .username {
    color: #d10000; 
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* Style for the post title */
  .post-title {
    color: #000; 
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .post-content {
    color: #333; 
    font-size: 16px;
  }
  .comment-input, .comment-submit {
    font-size: 14px; 
    padding: 8px; 
    border-radius: 8px; 
  }
  .container {
    display: flex;
    align-items: center;
  }

  .button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .edit, .delete {
    margin-left: 10px;
  }
  .edit {
    display: flex;
    flex-direction: column;
    color: black;
  }

  .edit-title, .edit-content, .edit-submit {
    font-size: 14px; 
    padding: 8px; 
    border-radius: 8px; 
    margin-bottom: 15px;
  }

  .edit-title {
    border: 1px solid #ccc; 
    margin-right: 10px; 
    width: calc(100% - 120px); 
    color: black;
  }

  .edit-content {
    width: 100%;
    height: 50%;
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .edit-submit, .edit-button {
    cursor: pointer;
    border: 1px solid transparent; 
    background-color: #ff0000; 
    color: white;
    transition: background-color 0.3s ease; 
  }

  .comment-input {
    border: 1px solid #ccc; 
    margin-right: 10px; 
    width: calc(100% - 120px); 
    color: black;
  }
  
  .comment-submit {
    cursor: pointer;
    border: 1px solid transparent; 
    background-color: #ff0000; 
    color: white;
    transition: background-color 0.3s ease; 
  }
  
  .comment-submit:hover {
    background-color: #cc0000; 
  }
  
  .comment {
    color: black;
  }
  
  .login-prompt {
    color: #ff4500; /* Orangish red color for visibility */
    font-size: 14px; /* Smaller font size */
    margin-top: 10px; /* Spacing above the message */
    text-align: center; /* Center-align the text */
    padding: 8px;
    border: 1px solid #ffa07a; /* Light salmon border */
    border-radius: 5px; /* Rounded corners */
    background-color: #fffaf0; /* Very light off-white background */
}