/* Style for the list item representing a user post */
.user-post {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 15px 0;
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the user info section */
.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* Style for the user avatar image */
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Style for the username */
.username {
  color: #d10000; /* Red color for username */
  font-weight: bold;
  margin-bottom: 15px;
}

/* Style for the post title */
.post-title {
  color: #000;
  font-size: 22px; /* Slightly larger font size */
  margin-bottom: 10px;
}

.post-content {
  color: #333; /* Grey color for text */
  font-size: 16px;
  margin-bottom: 20px;
}

/* Comment Section styling to make comments stand out */
.comments-section {
  background-color: #f9f9f9; /* Light grey background for comments */
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0; /* Light grey background for each comment */
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.comment-username {
  font-weight: bold;
  margin-right: 5px;
  color: #000; /* Black color for username in comments */
}

.comment-content {
  color: #333; /* Dark grey for comment text */
}

/* Input and Submit Button styling for comments */
.comment-input, .comment-submit {
  font-size: 14px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.comment-input {
  width: calc(100% - 130px); /* Adjusted width for padding */
  color: #333;
}

.comment-submit {
  cursor: pointer;
  border: 1px solid #ff0000; /* Red border color */
  background-color: #ff0000; /* Red background color */
  color: white;
  transition: background-color 0.3s ease;
}

.comment-submit:hover {
  background-color: #cc0000; /* Darker red on hover */
}

.login-prompt {
  color: #ff4500; /* Orangish red color for visibility */
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  padding: 8px;
  border: 1px solid #ffa07a; /* Light salmon border */
  border-radius: 6px;
  background-color: #fffaf0; /* Very light off-white background */
}

.container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction:row; /* Keep as column for vertical alignment */
  align-items: flex-start; /* Align buttons to the start */
}







.edit-button {
  margin-left: 5px;
  margin-right: 5px;
  background-color: red; /* Uniform button color for delete */
  border-radius: 5px;
  color: white;
}

.edit-button:hover {
  background-color: #cc0000; /* Darker red on hover */
}

.delete-button {
  margin-left: 5px;
  margin-right: 5px;
  background-color: red; 
  border-radius: 5px;
  color: white;
}

.delete-button:hover {
  background-color: #b52f2f; /* Darker red on hover */
}

